.container{
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.user{
    display: flex;
    flex-direction: column;
    gap:6px;
}

button{
    padding: 20px;
    background-color: aliceblue;
    border-radius: 25%;
}

.container button:hover{
    cursor: pointer;
}

.vl{
        border-left: 3px solid black;
        height: 500px;
        margin-left: 20px;
}
  
  
.heading{
    text-align: center;
}

ul{
    width: 400px;
    gap: 0;
}

li{
    list-style-type: none;
    padding-bottom: -10px;
}

.li-container{
    display: flex;
    justify-content: space-between;
}

.result{
    border-top: 3px solid gray;
    font-weight: bold;
}